.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

.appHead{
  display: flex;
  justify-content: center;
  align-items: center;
  height:40px;
  color: azure;
  font-weight: 600;
  font-size: 1.5rem;
  width: 100%;
  background-color: rgb(17, 88, 170);
}

.main-ContentArea{
  display: flex;
  flex-direction: row;

  width: 100%;
  height:100%;

}
.contentArea{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;


}
.cbtn{
  position: absolute;
  width: 150px;
  top: 100px;
  left: 600px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
